{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}




{% block content %}
			<div class="contact">
					
				<div class="contact-form">
					<div class="container">
					<div class="col-md-6 contact-left">
						<h3>О компании</h3>
						<p>Сегодня – активно набирающая популярность, компания Busprix предлагает вам широкий ассортимент товаров, заботясь при этом о комфорте, приятных впечатлениях и выгодной цене всех ваших покупок.
Именно поэтому мы активно продвигаем онлайн сервис покупок – который позволяет Вам в любое время выбирать, сравнивать, покупать любые товары Busprix наиболее удобным для вас способом по единым ценам невыходя из дома.
Есть вопросы? Пожалуйста, звоните в нашу информационную службу, а также смело пишите нам сообщения, наши менеджеры с радостью помогут Вам. Ведь сотрудники Busprix – это главные двигатели нашего успеха! Именно благодаря высокому профессионализму, вовлеченности и активности членов нашей команды Busprix был и остается любимым партнером миллионов украинцев.</p>
			
					<div class="address">
					<div class=" address-grid">
							<i class="glyphicon glyphicon-map-marker"></i>
							<div class="address1">
								<h3>Адрес</h3>
								<p>г. Чернигов ул. Рокоссовского 68</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class=" address-grid ">
							<i class="glyphicon glyphicon-phone"></i>
							<div class="address1">
							<h3>Наш телефон:<h3>
								<p>+380632460789</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class=" address-grid ">
							<i class="glyphicon glyphicon-envelope"></i>
							<div class="address1">
							<h3>Электронная почта:</h3>
								<p><a href="mailto:info@example.com"> busprix@gmail.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class=" address-grid ">
							<i class="glyphicon glyphicon-bell"></i>
							<div class="address1">
								<h3>Время работы:</h3>
								<p>Ежедневно, 10:00 - 20:00</p>
							</div>
							<div class="clearfix"> </div>
						</div>
</div>
				</div>
				<div class="col-md-6 contact-top">
					<h3>Хотите связаться с нами?</h3>
					<form>
						<div>
							<span>Ваше имя </span>
							<input type="text" value="" >						
						</div>
						<div>
							<span>Ваш Email </span>
							<input type="text" value="" >						
						</div>
						<div>
							<span>Тема</span>
							<input type="text" value="" >	
						</div>
						<div>
							<span>Ваше сообщение</span>
							<textarea> </textarea>	
						</div>
						<label class="hvr-skew-backward">
								<input type="submit" value="Отправить" >
						</label>
</form>
					            <form action="." method="post" class="order-form">
            {{ form.as_p }}
            <p><input type="submit" value="Оформить" class="btn-order btn-secondary"></p>
            {% csrf_token %}
            </form>
				</div>
		<div class="clearfix"></div>
		</div>
		</div>
		<div class="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37494223.23909492!2d103!3d55!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x453c569a896724fb%3A0x1409fdf86611f613!2sRussia!5e0!3m2!1sen!2sin!4v1415776049771"></iframe>
					</div>
	</div>

<!--//contact-->

			</div>
			
		</div>
	<!--//content-->
{% endblock %}