{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Контакты{% endif %}
{% endblock %}




{% block content %}
			<div class="contact">
					
				<div class="contact-form">
					<div class="container">
					<div class="col-md-6 contact-left">
						<h3>О компании</h3>
						<p>Сегодня – активно набирающая популярность, компания Busprix предлагает вам широкий ассортимент товаров, заботясь при этом о комфорте, приятных впечатлениях и выгодной цене всех ваших покупок.
Именно поэтому мы активно продвигаем онлайн сервис покупок – который позволяет Вам в любое время выбирать, сравнивать, покупать любые товары Busprix наиболее удобным для вас способом по единым ценам невыходя из дома.
Есть вопросы? Пожалуйста, звоните в нашу информационную службу, а также смело пишите нам сообщения, наши менеджеры с радостью помогут Вам. Ведь сотрудники Busprix – это главные двигатели нашего успеха! Именно благодаря высокому профессионализму, вовлеченности и активности членов нашей команды Busprix был и остается любимым партнером миллионов украинцев.</p>
			
					<div class="address">
					<div class=" address-grid">
							<i class="glyphicon glyphicon-map-marker"></i>
							<div class="address1">
								<h3>Адрес</h3>
								<p>г. Чернигов ул. 77-й Гвардейской Дивизии, 1В</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class=" address-grid ">
							<i class="glyphicon glyphicon-phone"></i>
							<div class="address1">
							<h3>Наш телефон:<h3>
								<p>+380933224710</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class=" address-grid ">
							<i class="glyphicon glyphicon-envelope"></i>
							<div class="address1">
							<h3>Электронная почта:</h3>
								<p><a href="mailto:info@example.com"> busprix@gmail.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class=" address-grid ">
							<i class="glyphicon glyphicon-bell"></i>
							<div class="address1">
								<h3>Время работы:</h3>
								<p>Ежедневно, 10:00 - 20:00</p>
							</div>
							<div class="clearfix"> </div>
						</div>
</div>
				</div>
				<div class="col-md-6 contact-top">
					<h3>Хотите связаться с нами?</h3>
					<form action="." method="post" >{% csrf_token %}
						<div>
							<span>Ваше имя </span>
							{{ form.name }}
						</div>
						<div>
							<span>Ваш Email </span>
							{{ form.email }}
						</div>
						<div>
							<span>Тема</span>
							{{ form.topic }}
						</div>
						<div>
							<span>Ваше сообщение</span>
							{{ form.message }}
						</div>
						<label class="hvr-skew-backward">
								<input type="submit" name="btnform1" value="Отправить" >
						</label>
				</form>

				</div>
		<div class="clearfix"></div>
		</div>
		</div>
<div class="section section-map">
    <div class="container section-inner">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-12 map aos-init aos-animate" data-aos="fade-down">
  				<iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=31.295821666717533%2C51.51015808297102%2C31.317279338836673%2C51.52009292422793&amp;layer=mapnik&amp;marker=51.5156064900444%2C31.306443214416504" style="border: 1px solid silver"></iframe>
            </div>
        </div>
    </div>
</div>

	</div>

<!--//contact-->

			</div>
			
		</div>
	<!--//content-->
{% endblock %}