{% extends "shop/base.html" %}
{% load static %}
{% load widget_tweaks%}
{% load blog_tags %}
{% block title %}
{{ product.name }}
{% endblock %}

{% block banner %}

{% endblock %}



{% block content2 %}
<div class="product-detail">
<img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
<h1>{{ product.name }}</h1>
<h2>
<a href="{{ product.category.get_absolute_url }}">{{product.category }}</a>
</h2>
<p class="price">${{ product.price }}</p>

<form action="{% url "cart:cart_add" product.id %}" method="post">
{{ cart_product_form2.update }}
{% csrf_token %}
<input type="submit" value="Add to cart">
</form>

{{ product.description|linebreaks }}
</div>
{% endblock %}

{% block content %}

<div class="single">

<div class="container">
<div class="col-md-9">
	<div class="col-md-5 grid">
		<div class="flexslider">
			  <ul class="slides">
				<li data-thumb="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" >
			        <div class="thumb-image"> <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" data-imagezoom="true" class="img-responsive"> </div>
			    </li>
			  </ul>
		</div>
	</div>

<div class="col-md-7 single-top-in">
						<div class="span_2_of_a1 simpleCart_shelfItem">
				<h3 class="name-detail">{{ product.name }}</h3>
			    <div class="price_single">
				  <span class="reducedfrom item_price">
					  {% if product.discount == True %}
						<div class="product_discounted_price">
							<a>{{ product.discounted_price }} ₴</a>
						</div>
						<div class="product_price">
							<a>{{ product.price }} ₴</a>
						</div>
						{% else %}
						<div class="product_price_normal">
							<a><br>{{ product.price }} ₴</a>
						</div>
						{% endif %}
				  </span>
				 <div class="clearfix"></div>
				</div>

  						<div class="form-group">
							<form action="{% url "cart:cart_add" product.id %}" method="post">
							{{ cart_product_form.quantity }}
							{% csrf_token %}
							<input type="submit" class="btn btn-primary" value="Добавить в корзину">
<!--							<a href="/cart/" class="btn btn-danger">Оформить заказ</a>-->
							</form>
						</div>

			<div class="clearfix"> </div>
			</div>
<!--			buy now	-->

					</div>
			<div class="clearfix"> </div>


			<!---->
			<div class="tab-head">
			 <nav class="nav-sidebar">
		<ul class="nav tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">Описание товара</a></li>
<!--          <li class=""><a href="#tab2" data-toggle="tab">Дополнительная информация</a></li>-->
          <li class=""><a href="#tab3" data-toggle="tab">Отзывы</a></li>
		</ul>
	</nav>
	<div class="tab-content one">
<div class="tab-pane active text-style" id="tab1">
 <div class="facts">
									  <p> {{ product.description|markdown }}</p>

							        </div>

</div>
<!--<div class="tab-pane text-style" id="tab2">-->

<!--									<div class="facts">-->
<!--										<p > Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections </p>-->
<!--										<ul >-->
<!--											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Multimedia Systems</li>-->
<!--											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Digital media adapters</li>-->
<!--											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Set top boxes for HDTV and IPTV Player  </li>-->
<!--										</ul>-->
<!--							        </div>-->

<!--</div>-->
<div class="tab-pane text-style" id="tab3">

								 <div class="facts">
<!--									 <h1>{{ comment_1 }}</h1>-->
<!--									 <h1>{{ comment_2 }}</h1>-->
<!--									 <h1>{{ comment_3 }}</h1>-->
									<div class="comment_{{ comment_1 }}">
									<h3>Танюшка</h3>
									 <p>Качество агонь, доставка за 2 дня в Херсон, рекомендую :)</p>
									 	<ul>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Качество 10\10</li>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Доставка 10\10</li>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Сервис 9\10</li>
										</ul>
									 <hr>
									</div>
									 <div class="comment_{{ comment_2 }}">
									 <h3>Машуня</h3>
									 <p>Цена Супер!!!, Я в восторге!! Товар крутой! Лайк!</p>
									 	<ul>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Качество 10\10</li>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Доставка 9\10</li>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Сервис 9\10</li>
										</ul>
									 <hr>
									 </div>
									 <div class="comment_{{ comment_3 }}">
									 <h3>JEka79</h3>
									 <p>Работают четко))) Пришел в срок ещё и по скидке, почти даром))</p>
									 	<ul>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Качество 10\10</li>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Доставка 9\10</li>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Сервис 9\10</li>
										</ul>
									 <hr>
									 </div>
									 <div class="comment_{{ comment_1 }}">
									 <h3>Инна Валерьева</h3>
									 <p>Мне понравилось качество, сразу видно, что будет служить долго.</p>
									 	<ul>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Качество 10\10</li>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Доставка 9\10</li>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Сервис 10\10</li>
										</ul>
									 <hr>
									 </div>
									 <div class="comment_{{ comment_2 }}">
									 <h3>Stepanko</h3>
									 <p>Ребята молодцы, всё пришло вовремя, спасибо! Буду ещё заказывать....</p>
									 	<ul>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Качество 10\10</li>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Доставка 9\10</li>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Сервис 9\10</li>
										</ul>
									 <hr>
									 </div>
									 <div class="comment_{{ comment_3 }}">
									 <h3>Тарас</h3>
									 <p>За свою цену просто бомба)))) Пасибки, Я Ваш постоянный клиент теперь.</p>
									 	<ul>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Качество 10\10</li>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Доставка 10\10</li>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Сервис 10\10</li>
										</ul>
									 <hr>
									 </div>
									 <div class="comment_{{ comment_1 }}">
									 <h3>Lerchik2001</h3>
									 <p>Я всем довольна, прям радует магаз, побольше бы таких...</p>
									 	<ul>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Качество 10\10</li>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Доставка 10\10</li>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Сервис 9\10</li>
										</ul>
									 <hr>
									 </div>
									 <div class="comment_{{ comment_2 }}">
									 <h3>Михаил</h3>
									 <p>Спасибо, получил товар. Всё круто!</p>
									 	<ul>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Качество 10\10</li>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Доставка 9\10</li>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Сервис 10\10</li>
										</ul>
									 <hr>
									 </div>
									 <div class="comment_{{ comment_3 }}">
									 <h3>Stasuk</h3>
									 <p>Благодарочка, это просто вещь))) За такую цену я нигде не видел дешевле, спасибо!!</p>
									 	<ul>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Качество 10\10</li>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Доставка 10\10</li>
											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Сервис 10\10</li>
										</ul>
									 <hr>
									 </div>
<!--									 <div class="comment_{{ comment_3 }}">-->
<!--									 <h3>Роман</h3>-->
<!--									 <p>Благодарю! Ваш товар просто изумителен господа.</p>-->
<!--									 	<ul>-->
<!--											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Качество 9\10</li>-->
<!--											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Доставка 9\10</li>-->
<!--											<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Сервис 10\10</li>-->
<!--										</ul>-->
<!--									 <hr>-->

							     </div>
</div>
	</div>
				<div class="clearfix"></div>
			</div>
	<!---->
</div>
<!----->

<div class="col-md-3 product-bottom product-at">
			<!--categories-->

				<h4 class="cate" ><a href="{% url 'shop:product_list' %}" class="front-name">Категории</a></h4>
				<ol class="rounded">
					<li {% if not category %} class="item1" {% endif %}><a href="{% url 'shop:product_list' %}">Все товары</a></li>
					{% for c in categories %}
					<li {% if category.slug == c.slug %}class="selected" {% endif %}><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
					{% endfor %}
				</ol>

				<!--initiate accordion-->
						<script type="text/javascript">
							$(function() {
							    var menu_ul = $('.menu-drop > li > ul'),
							           menu_a  = $('.menu-drop > li > a');
							    menu_ul.hide();
							    menu_a.click(function(e) {
							        e.preventDefault();
							        if(!$(this).hasClass('active')) {
							            menu_a.removeClass('active');
							            menu_ul.filter(':visible').slideUp('normal');
							            $(this).addClass('active').next().stop(true,true).slideDown('normal');
							        } else {
							            $(this).removeClass('active');
							            $(this).next().stop(true,true).slideUp('normal');
							        }
							    });

							});
						</script>

</div>
</div>
</div>
</div>

	<!--//content-->

<script src="{% static "js/imagezoom.js" %}"></script>


<script>
// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});
</script>


{% endblock %}