{% extends "shop/base.html" %}
{% load static %}
{% block title %}Поиск{% endblock %}





{% block content %}
{% block banner %}
<div class="banner-top ">
	<div class="container">
		<h1>Products</h1>
		<em></em>
		<h2><a href="/">Home</a><label>/</label>Products</h2>
	</div>
</div>
{% endblock %}

{% block search-line %}
	<div class="container search-container">
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<form class="search-input " action="." method="get">
				<label for="id_query"></label>
				<input class="search-input" placeholder="Я ищу... (Например: наушники)" aria-label="Search" type="text" name="query"
					   required="" id="id_query">
				<button class="btn btn-outline-success my-2 my-sm-0 search-btn" type="submit">Поиск</button>
			</form>
		</div>
	</div>
{% endblock %}

<!--Поиск-->
    <div class="container">
            {% if query %}
        <br>
        <h1>По результатам поиска "{{ query }}"
            {% with results.count as total_results %}
         найдено совпадений: {{ total_results }}
            {% endwith %}
         </h1>

        <div class="col-md-9">
            <div class="mid-popular">
        {% for product in results %}
                <div class="col-md-4 item-grid1 simpleCart_shelfItem">
                        <div class=" mid-pop" >
                            <div class="pro-img" >
                                <a class="link_detail" href="{{ product.get_absolute_url }}"><img src="{% if product.image %}{{ product.image.url }}{%else %}{% static 'img/no_image.png' %}{% endif %}" class="img-responsive" alt=""></a>
                            </div>
                            <div class="mid-1">
								<h6><a class="product-list text-center" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
								<div class="mid-2">
									{% if product.discount == True %}
									<div class="product_discounted_price">
										<a>{{ product.discounted_price }} грн</a>
									</div>
									<div class="product_price">
										<a>{{ product.price }} грн</a>
									</div>
									{% else %}
									<div class="product_price_normal">
										<a><br>{{ product.price }} грн</a>
									</div>
									{% endif %}

								</div>

                                <div class="women">
                                    <div class="img item_add">
										<form action="{% url "cart:cart_add" product.id %}" method="post">{% csrf_token %}

											<select class="not_display" name="quantity" id="id_quantity">
												<option value="1"></option>
											</select>

											<input type="submit" class="add-to item_add hvr-skew-backward-list" value="" >
										</form>
                                    </div>
									<div class="women-top">
										<span>В наличии</span>
									</div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>

        {% empty %}
            <h1>Попробуйте выполнить поиск ещё раз.</h1>
        {% endfor %}
                </div>
            </div>
            </div>


    {% else %}
    <p></p>
    {% endif %}
 </div>

<!--end search-->
{% endblock %}