{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div class="col-md-8 blog-main">
<h3 class="pb-4 mb-4 font-italic border-bottom heading-blog">{{ post.title }}</h3>
<p class="blog-post-meta">Опубликовано: {{ post.publish }} автор: <a>{{ post.author }}</a></p>
<br>
{{ post.body|markdown }}
<hr>
<h2>Рекомендации</h2>
<br>
{% for post in similar_posts %}
    <p>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </p>
{% empty %}
Пока нет похожих постов :(
{% endfor %}
<br>
<hr>
{% with comments.count as total_comments %}
<h2>Всего коментариев: {{ total_comments }}</h2>
<br>
{% endwith %}
{% for comment in comments %}

<div class="comment">
    <p class="info">
        Коментарий {{ forloop.counter }} от <a>{{ comment.name }}</a>
        {{ comment.created }}
    </p>

    {{ comment.body|linebreaks }}
</div>
{% empty %}
<p>Пока нет комментариев :(</p>
{% endfor %}

{% if new_comment %}
<h2>Ваш коментарий добавлен.</h2>
{% else %}
<br>
<hr>

<div class="col-md-6 contact-top">
<h2>Добавить новый коментарий</h2>
<form action="." method="post">
    <div>{{ comment_form.as_p }}</div>
    {% csrf_token %}
    <label class="hvr-skew-backward">
        <input type="submit" name="btnform1" value="Сохранить">
    </label>
</form>
</form>
</div>



</div>
{% endif %}

<!--<p>-->
<!--<a href="{% url "blog:post_share" post.id %}">Share this post</a>-->
<!--</p>-->
{% endblock %}